# OS files
.DS_Store

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/

# Application cache
server/auth-jwt-cache.json

# IDE Config
.vscode
.idea
.dccache

# Go stuff
vendor/

#testing
coverage/

# Environment data
.env
.env.*
!.env.test
env/secrets.env
env/secrets.json

# Remove tmp file from air configuration
tmp/

# .netrc
.netrc

# Coverage report
cover.out
coverage.txt
coverage.html

# binary
golang-service-template